<!DOCTYPE html>
<html lang="cs" class="flex w-[100%] h-[100%]">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Accounting v2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body class="flex flex-col w-[100%] h-[100%] bg-gray-100">
        <div class="flex justify-center items-center w-[100%] bg-blue-100">
            <div class="flex">
                <a href="{{ url_for('home') }}" class="px-[20px] py-[10px] hover:bg-blue-300">Home</a>
                <a href="{{ url_for('data') }}" class="px-[20px] py-[10px] hover:bg-blue-300">Data</a>
                <a href="#" class="px-[20px] py-[10px] hover:bg-blue-300">About</a>
                <a href="#" class="px-[20px] py-[10px] hover:bg-blue-300">Contact</a>
            </div>
        </div>
    </body>
</html>
